h1{
    font-size: 24;
    font-family: Arial;
    font-style: normal;
},
h2 {
    font-size: 22;
    font-family: Arial;
    font-style: italic;
},

p {

},
img {
    width: 230px;
}
.cat {
    align-content: center;
    max-width: 500px;
},
.cat p {
   text-align: center;
}


